body {
  background-color: aqua;
  margin: 0;
  padding: 0;
}

#heroimg {
  min-height: 50vh;
  background-size: cover;
  position: relative;
}
#heroimg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
